.tabIndicator {
    background-color: #218398;
    margin:-1.5em 0em 0.5em 0em;
    height:1em;
    min-width: 1em;
    padding:0.25em;
    border-radius:0.25em;
    color: whitesmoke;
    font-size:2em;
    box-shadow: #444444 0px 0px 2px;
}