.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 2vh;
    padding: 2em;
    margin-top: 1em;
    filter: drop-shadow(2px 2px 4px #444444);
    color: #111827;
}
.card:hover {
    box-shadow: #444444 0px 5px 10px;
}